@model IEnumerable<SHOP_DCAN.SanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}
<main>

    <!-- breadcrumb-area-start -->
    <section class="breadcrumb-area" data-background="img/bg/page-title.png" style="background-image: url(&quot;img/bg/page-title.png&quot;);">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="breadcrumb-text text-center">
                        <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cửa hàng của chúng tôi</font></font></h1>
                        <ul class="breadcrumb-menu">
                            <li><a href="index.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">trang chủ</font></font></a></li>
                            <li><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@ViewBag.TenTH</font></font></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb-area-end -->
    <!-- shop-area start -->
    <section class="shop-area pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-8">
                    <div class="shop-banner mb-50">
                        <img src="~/img/banner1.jpg" alt="">
                    </div>
                    <!-- tab filter -->
                    <div class="row mb-10">
                        <div class="col-xl-5 col-lg-6 col-md-6">
                            <div class="product-showing mb-40">
                                <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Hiển thị 1–22 trong số 32 kết quả</font></font></p>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-6 col-md-6">
                            <div class="shop-tab f-right">
                                <ul class="nav text-center" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><i class="fas fa-list-ul"></i> </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><i class="fas fa-th-large"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="pro-filter mb-40 f-right">
                                <form action="#">
                                    <select name="pro-filter" id="pro-filter">
                                        <option value="1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mua sắm bởi</font></font></option>
                                        <option value="2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bán chạy nhất</font></font></option>
                                        <option value="3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sản phẩm mới</font></font></option>
                                        <option value="4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sản phẩm từ A đến Z</font></font></option>
                                    </select>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- tab content -->
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">

                                @foreach (var item in Model)
                                {
                                    <div class="col-lg-6 col-md-6">
                                        <div class="product-wrapper mb-50">
                                            <div class="product-img mb-25">
                                                <a href="@Url.Action("ProductDetail", "Product", new { id = item.MaSP })">
                                                    <img src="https://res.cloudinary.com/deuokbfws/image/upload/v1722077825/@item.HinhAnh" alt="">
                                                    @*<img class="secondary-img" src="#" alt="">*@
                                                </a>
                                                <div class="product-action text-center">
                                                    <a href="#" title="Giỏ hàng">
                                                        <i class="flaticon-shopping-cart"></i>
                                                    </a>
                                                    <a href="#" title="Xem lướt qua">
                                                        <i class="flaticon-eye"></i>
                                                    </a>
                                                    <a href="#" data-toggle="tooltip" data-placement="right" title="So sánh">
                                                        <i class="flaticon-compare"></i>
                                                    </a>
                                                </div>
                                                <div class="sale-tag">
                                                    <span class="new"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">mới</font></font></span>
                                                    <span class="sale"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">doanh thu</font></font></span>
                                                </div>
                                            </div>
                                            <div class="product-content">

                                                <h4>
                                                    <a href="product-details.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@item.TenSP</font></font></a>
                                                </h4>
                                                <div class="product-meta">
                                                    <div class="pro-price">
                                                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@item.DonGia</font></font></span>
                                                        <span class="old-price"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$230.00 USD</font></font></span>
                                                    </div>
                                                </div>
                                                <div class="product-wishlist">
                                                    <a href="#"><i class="far fa-heart" title="Danh sách mong muốn"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="row">
                                <div class="col-xl-5">
                                    <div class="product-wrapper mb-30">
                                        <div class="product-img">
                                            <a href="product-details.html">
                                                <img src="#" alt="">
                                                <img class="secondary-img" src="#" alt="">
                                            </a>
                                            <div class="sale-tag">
                                                <span class="new"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">mới</font></font></span>
                                                <span class="sale"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">doanh thu</font></font></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-7">
                                    <div class="product-content pro-list-content pr-0 mb-50">
                                        <div class="pro-cat mb-10">
                                            <a href="shop.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">trang trí, </font></font></a>
                                            <a href="shop.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">đồ nội thất</font></font></a>
                                        </div>
                                        <h4>
                                            <a href="product-details.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nội thất Troma tối giản</font></font></a>
                                        </h4>
                                        <div class="product-meta mb-10">
                                            <div class="pro-price">
                                                <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$119.00 USD</font></font></span>
                                                <span class="old-price"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$230.00 USD</font></font></span>
                                            </div>
                                        </div>
                                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Điều quan trọng là phải tự chăm sóc nỗi đau, sau đó là sự trưởng thành của bệnh nhân, nhưng đồng thời cũng sẽ có rất nhiều công việc và nỗi đau. Để đi đến chi tiết nhỏ nhất, không ai nên thực hiện bất kỳ loại công việc nào trừ khi anh ta thu được lợi ích nào đó từ nó.</font></font></p>
                                        <div class="product-action">
                                            <a href="#" title="Giỏ hàng">
                                                <i class="flaticon-shopping-cart"></i>
                                            </a>
                                            <a href="#" title="Xem lướt qua">
                                                <i class="flaticon-eye"></i>
                                            </a>
                                            <a href="#" title="Danh sách mong muốn"><i class="flaticon-like"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-5">
                                    <div class="product-wrapper mb-30">
                                        <div class="product-img">
                                            <a href="product-details.html">
                                                <img src="img/product/pro11.jpg" alt="">
                                                <img class="secondary-img" src="img/product/pro12.jpg" alt="">
                                            </a>
                                            <div class="sale-tag">
                                                <span class="new"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">mới</font></font></span>
                                                <span class="sale"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">doanh thu</font></font></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-7">
                                    <div class="product-content pro-list-content pr-0 mb-50">
                                        <div class="pro-cat mb-10">
                                            <a href="shop.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">trang trí, </font></font></a>
                                            <a href="shop.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">đồ nội thất</font></font></a>
                                        </div>
                                        <h4>
                                            <a href="product-details.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nội thất Troma tối giản</font></font></a>
                                        </h4>
                                        <div class="product-meta mb-10">
                                            <div class="pro-price">
                                                <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$119.00 USD</font></font></span>
                                                <span class="old-price"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$230.00 USD</font></font></span>
                                            </div>
                                        </div>
                                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Điều quan trọng là phải tự chăm sóc nỗi đau, sau đó là sự trưởng thành của bệnh nhân, nhưng đồng thời cũng sẽ có rất nhiều công việc và nỗi đau. Để đi đến chi tiết nhỏ nhất, không ai nên thực hiện bất kỳ loại công việc nào trừ khi anh ta thu được lợi ích nào đó từ nó.</font></font></p>
                                        <div class="product-action">
                                            <a href="#" title="Giỏ hàng">
                                                <i class="flaticon-shopping-cart"></i>
                                            </a>
                                            <a href="#" title="Xem lướt qua">
                                                <i class="flaticon-eye"></i>
                                            </a>
                                            <a href="#" title="Danh sách mong muốn"><i class="flaticon-like"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-5">
                                    <div class="product-wrapper mb-30">
                                        <div class="product-img">
                                            <a href="product-details.html">
                                                <img src="img/product/pro15.jpg" alt="">
                                                <img class="secondary-img" src="img/product/pro16.jpg" alt="">
                                            </a>
                                            <div class="sale-tag">
                                                <span class="new"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">mới</font></font></span>
                                                <span class="sale"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">doanh thu</font></font></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-7">
                                    <div class="product-content pro-list-content pr-0 mb-50">
                                        <div class="pro-cat mb-10">
                                            <a href="shop.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">trang trí, </font></font></a>
                                            <a href="shop.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">đồ nội thất</font></font></a>
                                        </div>
                                        <h4>
                                            <a href="product-details.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nội thất Troma tối giản</font></font></a>
                                        </h4>
                                        <div class="product-meta mb-10">
                                            <div class="pro-price">
                                                <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$119.00 USD</font></font></span>
                                                <span class="old-price"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$230.00 USD</font></font></span>
                                            </div>
                                        </div>
                                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Điều quan trọng là phải tự chăm sóc nỗi đau, sau đó là sự trưởng thành của bệnh nhân, nhưng đồng thời cũng sẽ có rất nhiều công việc và nỗi đau. Để đi đến chi tiết nhỏ nhất, không ai nên thực hiện bất kỳ loại công việc nào trừ khi anh ta thu được lợi ích nào đó từ nó.</font></font></p>
                                        <div class="product-action">
                                            <a href="#" title="Giỏ hàng">
                                                <i class="flaticon-shopping-cart"></i>
                                            </a>
                                            <a href="#" title="Xem lướt qua">
                                                <i class="flaticon-eye"></i>
                                            </a>
                                            <a href="#" title="Danh sách mong muốn"><i class="flaticon-like"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-5">
                                    <div class="product-wrapper mb-30">
                                        <div class="product-img">
                                            <a href="product-details.html">
                                                <img src="img/product/pro6.jpg" alt="">
                                                <img class="secondary-img" src="img/product/pro7.jpg" alt="">
                                            </a>
                                            <div class="sale-tag">
                                                <span class="new"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">mới</font></font></span>
                                                <span class="sale"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">doanh thu</font></font></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-7">
                                    <div class="product-content pro-list-content pr-0 mb-50">
                                        <div class="pro-cat mb-10">
                                            <a href="shop.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">trang trí, </font></font></a>
                                            <a href="shop.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">đồ nội thất</font></font></a>
                                        </div>
                                        <h4>
                                            <a href="product-details.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nội thất Troma tối giản</font></font></a>
                                        </h4>
                                        <div class="product-meta mb-10">
                                            <div class="pro-price">
                                                <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$119.00 USD</font></font></span>
                                                <span class="old-price"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$230.00 USD</font></font></span>
                                            </div>
                                        </div>
                                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Điều quan trọng là phải tự chăm sóc nỗi đau, sau đó là sự trưởng thành của bệnh nhân, nhưng đồng thời cũng sẽ có rất nhiều công việc và nỗi đau. Để đi đến chi tiết nhỏ nhất, không ai nên thực hiện bất kỳ loại công việc nào trừ khi anh ta thu được lợi ích nào đó từ nó.</font></font></p>
                                        <div class="product-action">
                                            <a href="#" title="Giỏ hàng">
                                                <i class="flaticon-shopping-cart"></i>
                                            </a>
                                            <a href="#" title="Xem lướt qua">
                                                <i class="flaticon-eye"></i>
                                            </a>
                                            <a href="#" title="Danh sách mong muốn"><i class="flaticon-like"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-5">
                                    <div class="product-wrapper mb-30">
                                        <div class="product-img">
                                            <a href="product-details.html">
                                                <img src="img/product/pro18.jpg" alt="">
                                                <img class="secondary-img" src="img/product/pro19.jpg" alt="">
                                            </a>
                                            <div class="sale-tag">
                                                <span class="new"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">mới</font></font></span>
                                                <span class="sale"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">doanh thu</font></font></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-7">
                                    <div class="product-content pro-list-content pr-0 mb-50">
                                        <div class="pro-cat mb-10">
                                            <a href="shop.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">trang trí, </font></font></a>
                                            <a href="shop.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">đồ nội thất</font></font></a>
                                        </div>
                                        <h4>
                                            <a href="product-details.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nội thất Troma tối giản</font></font></a>
                                        </h4>
                                        <div class="product-meta mb-10">
                                            <div class="pro-price">
                                                <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$119.00 USD</font></font></span>
                                                <span class="old-price"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$230.00 USD</font></font></span>
                                            </div>
                                        </div>
                                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Điều quan trọng là phải tự chăm sóc nỗi đau, sau đó là sự trưởng thành của bệnh nhân, nhưng đồng thời cũng sẽ có rất nhiều công việc và nỗi đau. Để đi đến chi tiết nhỏ nhất, không ai nên thực hiện bất kỳ loại công việc nào trừ khi anh ta thu được lợi ích nào đó từ nó.</font></font></p>
                                        <div class="product-action">
                                            <a href="#" title="Giỏ hàng">
                                                <i class="flaticon-shopping-cart"></i>
                                            </a>
                                            <a href="#" title="Xem lướt qua">
                                                <i class="flaticon-eye"></i>
                                            </a>
                                            <a href="#" title="Danh sách mong muốn"><i class="flaticon-like"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-5">
                                    <div class="product-wrapper mb-30">
                                        <div class="product-img">
                                            <a href="product-details.html">
                                                <img src="img/product/pro5.jpg" alt="">
                                                <img class="secondary-img" src="img/product/pro6.jpg" alt="">
                                            </a>
                                            <div class="sale-tag">
                                                <span class="new"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">mới</font></font></span>
                                                <span class="sale"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">doanh thu</font></font></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-7">
                                    <div class="product-content pro-list-content pr-0 mb-50">
                                        <div class="pro-cat mb-10">
                                            <a href="shop.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">trang trí, </font></font></a>
                                            <a href="shop.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">đồ nội thất</font></font></a>
                                        </div>
                                        <h4>
                                            <a href="product-details.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nội thất Troma tối giản</font></font></a>
                                        </h4>
                                        <div class="product-meta mb-10">
                                            <div class="pro-price">
                                                <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$119.00 USD</font></font></span>
                                                <span class="old-price"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$230.00 USD</font></font></span>
                                            </div>
                                        </div>
                                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Điều quan trọng là phải tự chăm sóc nỗi đau, sau đó là sự trưởng thành của bệnh nhân, nhưng đồng thời cũng sẽ có rất nhiều công việc và nỗi đau. Để đi đến chi tiết nhỏ nhất, không ai nên thực hiện bất kỳ loại công việc nào trừ khi anh ta thu được lợi ích nào đó từ nó.</font></font></p>
                                        <div class="product-action">
                                            <a href="#" title="Giỏ hàng">
                                                <i class="flaticon-shopping-cart"></i>
                                            </a>
                                            <a href="#" title="Xem lướt qua">
                                                <i class="flaticon-eye"></i>
                                            </a>
                                            <a href="#" title="Danh sách mong muốn"><i class="flaticon-like"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-5">
                                    <div class="product-wrapper mb-30">
                                        <div class="product-img">
                                            <a href="product-details.html">
                                                <img src="img/product/pro20.jpg" alt="">
                                                <img class="secondary-img" src="img/product/pro21.jpg" alt="">
                                            </a>
                                            <div class="sale-tag">
                                                <span class="new"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">mới</font></font></span>
                                                <span class="sale"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">doanh thu</font></font></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-7">
                                    <div class="product-content pro-list-content pr-0 mb-50">
                                        <div class="pro-cat mb-10">
                                            <a href="shop.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">trang trí, </font></font></a>
                                            <a href="shop.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">đồ nội thất</font></font></a>
                                        </div>
                                        <h4>
                                            <a href="product-details.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nội thất Troma tối giản</font></font></a>
                                        </h4>
                                        <div class="product-meta mb-10">
                                            <div class="pro-price">
                                                <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$119.00 USD</font></font></span>
                                                <span class="old-price"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$230.00 USD</font></font></span>
                                            </div>
                                        </div>
                                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Điều quan trọng là phải tự chăm sóc nỗi đau, sau đó là sự trưởng thành của bệnh nhân, nhưng đồng thời cũng sẽ có rất nhiều công việc và nỗi đau. Để đi đến chi tiết nhỏ nhất, không ai nên thực hiện bất kỳ loại công việc nào trừ khi anh ta thu được lợi ích nào đó từ nó.</font></font></p>
                                        <div class="product-action">
                                            <a href="#" title="Giỏ hàng">
                                                <i class="flaticon-shopping-cart"></i>
                                            </a>
                                            <a href="#" title="Xem lướt qua">
                                                <i class="flaticon-eye"></i>
                                            </a>
                                            <a href="#" title="Danh sách mong muốn"><i class="flaticon-like"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-5">
                                    <div class="product-wrapper mb-30">
                                        <div class="product-img">
                                            <a href="product-details.html">
                                                <img src="img/product/pro9.jpg" alt="">
                                                <img class="secondary-img" src="img/product/pro10.jpg" alt="">
                                            </a>
                                            <div class="sale-tag">
                                                <span class="new"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">mới</font></font></span>
                                                <span class="sale"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">doanh thu</font></font></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-7">
                                    <div class="product-content pro-list-content pr-0 mb-50">
                                        <div class="pro-cat mb-10">
                                            <a href="shop.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">trang trí, </font></font></a>
                                            <a href="shop.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">đồ nội thất</font></font></a>
                                        </div>
                                        <h4>
                                            <a href="product-details.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nội thất Troma tối giản</font></font></a>
                                        </h4>
                                        <div class="product-meta mb-10">
                                            <div class="pro-price">
                                                <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$119.00 USD</font></font></span>
                                                <span class="old-price"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$230.00 USD</font></font></span>
                                            </div>
                                        </div>
                                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Điều quan trọng là phải tự chăm sóc nỗi đau, sau đó là sự trưởng thành của bệnh nhân, nhưng đồng thời cũng sẽ có rất nhiều công việc và nỗi đau. Để đi đến chi tiết nhỏ nhất, không ai nên thực hiện bất kỳ loại công việc nào trừ khi anh ta thu được lợi ích nào đó từ nó.</font></font></p>
                                        <div class="product-action">
                                            <a href="#" title="Giỏ hàng">
                                                <i class="flaticon-shopping-cart"></i>
                                            </a>
                                            <a href="#" title="Xem lướt qua">
                                                <i class="flaticon-eye"></i>
                                            </a>
                                            <a href="#" title="Danh sách mong muốn"><i class="flaticon-like"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="basic-pagination basic-pagination-2 text-center mt-20">
                        <ul>
                            <li><a href="#"><i class="fas fa-angle-double-left"></i></a></li>
                            <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">01</font></font></a></li>
                            <li class="active"><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">02</font></font></a></li>
                            <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">03</font></font></a></li>
                            <li><a href="#"><i class="fas fa-ellipsis-h"></i></a></li>
                            <li><a href="#"><i class="fas fa-angle-double-right"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4">
                    <div class="sidebar-box">

                        <div class="shop-widget">
                            <h3 class="shop-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tìm kiếm bởi</font></font></h3>
                            <form action="#" class="shop-search">
                                <input type="text" placeholder="Từ khóa của bạn....">
                                <button><i class="fa fa-search"></i></button>
                            </form>
                        </div>

                        @Html.Action("MenuThuongHieu", "Product", new { id = ViewBag.MaTH })

                        <div class="shop-widget">
                            <h3 class="shop-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lựa chọn bộ lọc</font></font></h3>
                            <div class="price-filter">
                                <div id="slider-range" class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"><div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 15%; width: 45%;"></div><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 15%;"></span><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 60%;"></span></div>
                                <input type="text" id="amount">
                            </div>
                        </div>


                        @Html.Action("MenuLoai", "Product", new { id = ViewBag.CateId })







                        <div class="shop-widget">
                            <h3 class="shop-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sản phẩm gần đây</font></font></h3>
                            <ul class="shop-sidebar-product">
                                <li>
                                    <div class="side-pro-img">
                                        <a href="product-details.html"><img src="img/product/latest/shop-rsp1.jpg" alt=""></a>
                                    </div>
                                    <div class="side-pro-content">
                                        <div class="side-pro-rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <h5><a href="product-details.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Raglan Bóng Chày-Phong Cách</font></font></a></h5>
                                        <div class="side-pro-price">
                                            <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">119,00 đô la Mỹ</font></font></span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="side-pro-img">
                                        <a href="product-details.html"><img src="img/product/latest/shop-rsp3.jpg" alt=""></a>
                                    </div>
                                    <div class="side-pro-content">
                                        <div class="side-pro-rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <h5><a href="product-details.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Raglan Bóng Chày-Phong Cách</font></font></a></h5>
                                        <div class="side-pro-price">
                                            <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">119,00 đô la Mỹ</font></font></span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="side-pro-img">
                                        <a href="product-details.html"><img src="img/product/latest/shop-rsp2.jpg" alt=""></a>
                                    </div>
                                    <div class="side-pro-content">
                                        <div class="side-pro-rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <h5><a href="product-details.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Raglan Bóng Chày-Phong Cách</font></font></a></h5>
                                        <div class="side-pro-price">
                                            <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">119,00 đô la Mỹ</font></font></span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="side-pro-img">
                                        <a href="product-details.html"><img src="img/product/latest/shop-rsp4.jpg" alt=""></a>
                                    </div>
                                    <div class="side-pro-content">
                                        <div class="side-pro-rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <h5><a href="product-details.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Raglan Bóng Chày-Phong Cách</font></font></a></h5>
                                        <div class="side-pro-price">
                                            <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">119,00 đô la Mỹ</font></font></span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="shop-widget">
                            <div class="shop-sidebar-banner">
                                <a href="shop.html"><img src="img/banner/shop-banner.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- shop-area end -->


</main>

