@model SHOP_DCAN.Models.CheckoutView

<div class="form-group">
    @Html.LabelFor(model => model.TenKH, "Tên Khách Hàng")
    @Html.TextBoxFor(model => model.TenKH, new { @class = "form-control", @readonly = "readonly" })
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Email, "Email")
    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @readonly = "readonly" })
</div>

<div class="form-group">
    @Html.LabelFor(model => model.SDT, "Số điện Thoại")
    @Html.TextBoxFor(model => model.SDT, new { @class = "form-control", @readonly = "readonly" })
</div>

<div class="form-group">
    @Html.LabelFor(model => model.DiaChiGiaoHang, "Số nhà")
    @Html.TextBoxFor(model => model.DiaChiGiaoHang, new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.Label("Tỉnh")
    <select id="tinh" name="Tinh" class="form-control">
        <option value="">Chọn Tỉnh</option>
    </select>
</div>

<div class="form-group">
    @Html.Label("Huyện")
    <select id="quan" name="Huyen" class="form-control">
        <option value="">Chọn Huyện</option>
    </select>
</div>

<div class="form-group">
    @Html.Label("Xã")
    <select id="phuong" name="Xa" class="form-control">
        <option value="">Chọn Xã</option>
    </select>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.GhiChu, "Ghi chú")
    @Html.TextBoxFor(model => model.GhiChu, new { @class = "form-control" })
</div>

<div class="form-group">
    @Html.LabelFor(model => model.HinhThucThanhToan, "Hình thức thanh toán")
    @Html.DropDownListFor(model => model.HinhThucThanhToan, new SelectList(new[]
    {
        new { Value = "COD", Text = "COD" },
        new { Value = "Chuyển khoản", Text = "Chuyển khoản" }
    }, "Value", "Text"), new { @class = "form-control", @id = "paymentMethod" })
</div>



<!-- Hidden fields to store the selected names -->
<input type="hidden" id="hidden_tinh" name="TenTinh" />
<input type="hidden" id="hidden_quan" name="TenHuyen" />
<input type="hidden" id="hidden_phuong" name="TenXa" />


