@model SHOP_DCAN.Models.RegisterView
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}
<main>

    <!-- breadcrumb-area-start -->
    <section class="breadcrumb-area" data-background="img/bg/page-title.png" style="background-image: url(&quot;img/bg/page-title.png&quot;);">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="breadcrumb-text text-center">
                        <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Đăng ký</font></font></h1>
                        <ul class="breadcrumb-menu">
                            <li><a href="index.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">trang chủ</font></font></a></li>
                            <li><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Đăng ký</font></font></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="login-area pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="basic-login">
                        <h3 class="text-center mb-60"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Đăng ký từ đây</font></font></h3>
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @style = "color: red;" })
                            <label for="name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tên Khách Hàng </font></font><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">**</font></font></span></label>

                            @Html.TextBoxFor(model => model.TenKH, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TenKH, "", new { @style = "color: red;" })
                            <label for="name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Username </font></font><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">**</font></font></span></label>
                            @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Username, "", new { @style = "color: red;" })
                            <label for="name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Số điện thoại </font></font><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">**</font></font></span></label>
                            @Html.TextBoxFor(model => model.SDT, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SDT, "", new { @style = "color: red;" })
                            <label for="name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Địa chỉ email </font></font><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">**</font></font></span></label>
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @style = "color: red;" })
                            <label for="pass"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mật khẩu </font></font><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">**</font></font></span></label>
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @style = "color: red;" })
                            <label for="pass"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nhập Lại Mật khẩu </font></font><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">**</font></font></span></label>
                            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @style = "color: red;" })
                            <div class="login-action mb-20 fix">
                                <span class="log-rem f-left">
                                    <input id="remember" type="checkbox">
                                    <label for="remember"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Hãy nhớ tôi!</font></font></label>
                                </span>
                                <span class="forgot-login f-right">
                                    <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Quên mật khẩu?</font></font></a>
                                </span>
                            </div>
                            <button type="submit" class="btn theme-btn-2 w-100"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Đăng ký ngay bây giờ</font></font></button>
                            <div class="or-divide"><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">hoặc</font></font></span></div>
                            <a href="@Url.Action("Login", "Account")" class="btn theme-btn w-100"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Đăng nhập ngay</font></font></a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
   

</main>