@model SHOP_DCAN.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}
<main>
    <div class="container" style="width:500px">
        <h2 style="font-family:'Segoe UI'">Đặt Lại Mật Khẩu</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(m => m.Email)

            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword,"Mật khẩu mới")
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword,"Nhập lại mật khẩu")
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>

            <button type="submit" class="btn btn-primary">Đặt lại mật khẩu</button>
        }

    </div>
</main>

