@model IEnumerable<SHOP_DCAN.SanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}
<main>
    <!-- slider-area start -->
    <section class="slider-area pos-relative">
        <div class="slider-active slick-initialized slick-slider">
            <button type="button" class="slick-prev slick-arrow" style="display: block;"> <i class="fas fa-arrow-left"></i> </button>
            <div class="slick-list draggable">
                <div class="main_slider">
                    <div class="container fill_height">
                        <div class="row align-items-center fill_height">
                            <div class="col">
                                <div class="main_slider_content">
                                    <img src="~/assets/img/img_backgroung.jpg" width="1100" />
                                    @*<h6>Spring / Summer Collection 2017</h6>
                                        <h1>Get up to 30% Off New Arrivals</h1>
                                        <div class="red_button shop_now_button"><a href="#">shop now</a></div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button type="button" class="slick-next slick-arrow" style="display: block;"> <i class="fas fa-arrow-right"></i></button>
        </div>
    </section>
    <!-- slider-area end -->
    <!-- banner area start -->
    <section class="banner-area pt-30 pl-15 pr-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="banner mb-30">
                        <a href="shop.html"><img src="~/assets/img/banner1.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="banner mb-30">
                        <a href="shop.html"><img src="~/assets/img/banner2.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="banner mb-30">
                        <a href="shop.html"><img src="~/assets/img/banner3.jpg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner area end -->
    <!-- product-area start -->
    @Html.Action("ItemBasedRecommendations", "Product")
    <section class="product-area box-90 pt-70 pb-40">
        <div class="container-fluid">
            @if (Session["KH"] == null)
            {
                <h1 style="font-family:'Segoe UI'">GỢI Ý SẢN PHẨM</h1>
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-3 col-md-3">
                            <div class="product-wrapper mb-50">
                                <div class="product-img mb-25">
                                    <a href="@Url.Action("ProductDetail", "Product", new { id = item.MaSP })">
                                        <img src="https://res.cloudinary.com/deuokbfws/image/upload/v1722077825/@item.HinhAnh" alt="">
                                        @* <img class="secondary-img" src="img/product/pro16.jpg" alt=""> *@
                                    </a>
                                    <div class="product-action text-center">
                                        <a href="@Url.Action("Index","ShoppingCart")" data-id="@item.MaSP" class="btnAddToCart">
                                            <i class="flaticon-shopping-cart"></i>
                                        </a>
                                        <a href="#" title="Xem lướt qua">
                                            <i class="flaticon-eye"></i>
                                        </a>
                                        <a href="#" data-toggle="tooltip" data-placement="right" title="So sánh">
                                            <i class="flaticon-compare"></i>
                                        </a>
                                    </div>
                                    <div class="sale-tag">
                                        <span class="new"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">mới</font></font></span>
                                        <span class="sale"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">doanh thu</font></font></span>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h4>
                                        <a href="@Url.Action("ProductDetail", "Product", new { id = item.MaSP })"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@item.TenSP</font></font></a>
                                    </h4>
                                    <div class="product-meta">
                                        <div class="pro-price">
                                            <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@Common.FormatNumber(@item.DonGia, 0) VND</font></font></span>
                                            <span class="old-price"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$230.00 USD</font></font></span>
                                        </div>
                                    </div>
                                    <div class="product-wishlist">
                                        <a href="#"><i class="far fa-heart" title="Danh sách mong muốn"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </section>

    <!-- upcoming-product-area end -->
    <!-- latest-blog-area start -->
    <section class="latest-blog-area pt-95 pb-60 box-90">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="area-title text-center mb-50">
                        <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Nguồn cấp tin tức</font></font></h2>
                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Kiểm tra nó mỗi lần cập nhật</font></font></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="latest-news mb-40">
                        <div class="news__thumb mb-25">
                            <img src="~/assets/img/new_3.jpg" alt="">
                        </div>
                        <div class="news__caption white-bg">
                            <div class="news-meta mb-15">
                                <span><i class="far fa-calendar-check"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ngày 15 tháng 9 năm 2018</font></font></span>
                                <span><a href="#"><i class="far fa-user"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Diboli</font></font></a></span>
                                <span><a href="#"><i class="far fa-comments"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">23 Bình luận</font></font></a></span>
                            </div>
                            <h2>
                                <a href="blog-details.html">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                                            ĐƯA BẠN ĐẾN GẦN HƠN VỚI RUNG CẢM ÂM NHẠC CỦA MÌNH
                                        </font>
                                    </font>
                                </a>
                            </h2>
                            <p>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                                        Là nhà bán lẻ nhạc cụ và âm nhạc được tín nhiệm nhất châu Á, chúng tôi là ngôi nhà chung của nhiều thương hiệu và vô số nhãn hiệu nổi tiếng. Cả online và offline, đội ngũ chuyên viên của chúng tôi giàu kỹ năng và kinh nghiệm để hỗ trợ người yêu nhạc theo cách ý nghĩa nhất.
                                    </font>
                                </font>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="latest-news mb-40">
                        <div class="news__thumb mb-25">
                            <img src="~/assets/img/new_2.jpg" alt="">
                        </div>
                        <div class="news__caption white-bg">
                            <div class="news-meta mb-15">
                                <span><i class="far fa-calendar-check"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ngày 15 tháng 9 năm 2018</font></font></span>
                                <span><a href="#"><i class="far fa-user"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Vui vẻ</font></font></a></span>
                                <span><a href="#"><i class="far fa-comments"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">23 Bình luận</font></font></a></span>
                            </div>
                            <h2>
                                <a href="blog-details.html">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                                            NHÀ BÁN LẺ NHẠC CỤ VÀ ÂM NHẠC ĐƯỢC TÍN NHIỆM NHẤT CHÂU Á
                                        </font>
                                    </font>
                                </a>
                            </h2>
                            <p>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                                        Được sáng lập vào năm 1946 và có trụ sở tại Singapore, ngày nay Swee Lee là nhà bán lẻ, nhà phân phối nhạc cụ đa thương hiệu và phong cách sống hàng đầu châu Á.
                                    </font>
                                </font>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="latest-news mb-40">
                        <div class="news__thumb mb-25">
                            <img src="~/assets/img/new_1.jpg" alt="" height="250">
                        </div>
                        <div class="news__caption white-bg">
                            <div class="news-meta mb-15">
                                <span><i class="far fa-calendar-check"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ngày 15 tháng 9 năm 2018</font></font></span>
                                <span><a href="#"><i class="far fa-user"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Vui vẻ</font></font></a></span>
                                <span><a href="#"><i class="far fa-comments"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">23 Bình luận</font></font></a></span>
                            </div>
                            <h2>
                                <a href="blog-details.html">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                                            ÂM NHẠC NÊN MANG ĐẾN CẢM GIÁC THOẢI MÁI NHƯ Ở NHÀ
                                        </font>
                                    </font>
                                </a>
                            </h2>
                            <p>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                                        Tại Swee Lee, chúng tôi tôn vinh mọi phong cách, mọi kỹ năng trong không gian đặc trưng, được thiết kế để nuôi dưỡng nơi người chơi cảm giác thân thuộc và gắn bó với âm nhạc.
                                    </font>
                                </font>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- latest-blog-area end -->
    <!-- subscribe-area start -->
    <section class="subscribe-area box-105">
        <div class="subscribe-inner black-bg pt-70 pb-20">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-5">
                        <div class="subscribe d-flex fix">
                            <div class="subscribe-icon">
                                <img src="img/icon/subscribe.png" alt="">
                            </div>
                            <div class="area-title white-color mb-50">
                                <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bản tin</font></font></h2>
                                <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Đăng ký tại đây để nhận mọi thông tin cập nhật</font></font></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7">
                        <div class="subscribe fix">
                            <div class="subscribe-form mb-50">
                                <form action="#">
                                    <input type="text" placeholder="nhập địa chỉ email của bạn">
                                    <button class="btn theme-btn" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">theo dõi ngay</font></font></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- subscribe-area end -->
</main>